.box{
    color: #0054B3;
    box-shadow: 0 0 2000px 400px ;
    opacity: 40%;
}
//   @keyframes Gradient {
//     0% { background-position: 0% 50%; }
//     50% { background-position: 100% 50%; }
//     100% { background-position: 0% 50%; }
//   }
  
 